body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 600px;
  margin: 0 auto;
}

h1 {
  padding: 35px;
  margin: 0;
  background-color: #e83f3f;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}

#username {
  padding: 20px;
  border: 0;
  color: #2222;
  font-size: 17px;
  width: 100%;
}

.board {
  display: none;
}

#chat {
  padding: 20px;
  height: 300px;
  overflow-y: scroll;
  background-color: #fff;
}

#chat li {
  list-style: none;
  font-size: 20px;
}

#chat .user {
  color: #e83f3f;
  font-weight: bold;
}

#chat .message {
  padding-left: 15px;
  font-weight: 100;
}

#chat .chat-message {
  margin-bottom: 10px;
  text-align: center;
  display: block;
  color: #868484;
}

.bottom {
  border-top: 2px solid #E83F3F;
}

#field {
  padding: 20px;
  border: 0;
  color: #2222;
  font-size: 17px;
  width: 100%;
  box-sizing: border-box;
}

#username:focus,
#field:focus {
  outline: 0;
}
